In [5]:
import pandas as pd

df = pd.read_csv('Downloads/FoodBalanceSheets_E_Africa_NOFLAG.csv')

In [6]:
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60943 entries, 0 to 60942
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area Code     60943 non-null  int64
 1   Area          60943 non-null  object
 2   Item Code     60943 non-null  int64
 3   Item          60943 non-null  object
 4   Element Code  60943 non-null  int64
 5   Element       60943 non-null  object
 6   Unit          60943 non-null  object
 7   Y2014         59354 non-null  float64
 8   Y2015         59395 non-null  float64
 9   Y2016         59408 non-null  float64
 10  Y2017         59437 non-null  float64
 11  Y2018         59507 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 5.6+ MB

In [8]:
df['Unit'].unique()

array(['1000 persons', '1000 tonnes', 'kcal/capita/day', 'g/capita/day',
       'kg'], dtype=object)

In [9]:
x = list(df.groupby('Element').sum()['Y2018'])
x.sort()
x[2]

11833.56000000012

In [10]:
y = df.groupby('Element').sum()['Y2018']
y[y == 11833.56000000012]

Element
Protein supply quantity (g/capita/day)    11833.56
Name: Y2018, dtype: float64

In [11]:
df['Item'].nunique()

119

In [12]:
df.groupby('Item').sum().loc['Animal fats'][['Y2014', 'Y2017']]

Y2014    209460.54
Y2017    269617.53
Name: Animal fats, dtype: float64

In [13]:
df[df['Item'] == 'Animal fats'].shape

(639, 12)

In [14]:
round(df['Y2015'].mean(), 3)
round(df['Y2015'].std(), 3)

1603.404

In [15]:
df['Y2016'].isnull().sum()

1535

In [16]:
(df['Y2016'].isnull().sum())/(len(df['Y2016'])) * 100

2.5187470259094566

In [17]:
x = df.columns[7:]

[df[i].corr(df['Element Code']) for i in x]

[0.024456819495221795,
 0.023889199301639925,
 0.023443997584961428,
 0.024254007760045722,
 0.024278571953519554]

In [18]:
'Import Quantity' in df['Element'].unique()

True

In [20]:
df[df['Element'] == 'Import Quantity'].groupby('Area').sum().loc['Algeria']

Area Code          448.00
Item Code       301030.00
Element Code    628432.00
Y2014            34940.12
Y2015            37841.91
Y2016            36736.08
Y2017            36059.29
Y2018            36238.29
Name: Algeria, dtype: float64

In [76]:
df['Area'].nunique()

49